:root {
  --color-spl-1: #00a700;
  --color-spl-1-contrast: #000;
  --color-spl-2: #00661b;
  --color-spl-2-contrast: #fff;
  --color-spl-3: #b9f;
  --color-spl-3-contrast: #000;
  --color-spl-4: #603dab;
  --color-spl-4-contrast: #fff;
  --color-spl-5: #bf107e;
  --color-spl-5-contrast: #fff;
  --color-spl-6: #ff9bc7;
  --color-spl-6-contrast: #000;
}